@mixin flex-container($dir: row, $just: center) {
  display: flex;
  justify-content: $just;
  flex-direction: $dir;
  flex-wrap: wrap;
}

@mixin outline($color: black) {
  text-shadow: 2px 0 0 $color,
               0 2px 0 $color,
               -2px 0 0 $color,
               0 -2px 0 $color;
}

@mixin text-styling($size: 1em) {
  font-size: $size;
  font-family: Andale Mono, sans-serif;
}

@mixin game-window() {
  border: 2px solid black;
}
